{% set dev = salt['grains.filter_by']({

  'Debian': {
    'vim': 'vim',
    'python': 'python3',
    'pip': 'python3-pip',
  },
  'RedHat': {
    'vim': 'vim-enhanced',
    'python': 'python36',
    'pip': 'python3-pip',
  },

})%}
